.Rproj.user/
.Rhistory
.Renviron
.RData
.Ruserdata

.idea/
__pycache__/
*.png
*.pdf
*.svg
*.csv
*.html

data_raw/
processed_data/
raw_data/
raw_data_visualizations/
processed_data_visualizations/
clustered_data/
clustered_data_visualizations/
arm_data/
arm_data_visualizations/
decision_tree_data/
decision_tree_data_visualizations/